body { padding-top: 70px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}
.hero-section{
  background-image: url("./images/hero.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}
