{%extends 'main/base.html'%}
{% load crispy_forms_tags %}
{%block content%}
<div class="container" id="content">
  <div class="card mt-3" align="center">
    <img src="{{post.image.url}}" style="height: 50rem" class="card-img-top" alt="Wild Landscape" />
    <div class="card-body">
      <div class="container">
        <div>
          <div class=" col d-flex justify-content-between">
            <div>
          <p> <b>{{post.name}}</b></p>
          
          <p class="card-text" style="color:rgb(13, 209, 209)"><img class="rounded-circle nav-img" style="height: 30px; width: 30px;"
            src="{{post.user_profile.profile.avatar.url}}" class="nav-img mr-2" alt="">
          By {{post.user_profile.username}}
        </p>

      </div>
        <div>
          <button id="text" class="btn-info p-1"><a style="width:100%; " href="{{post.live_link}}" target="_blank"></a>view live project</button>
        </div>
      </div>

        </div>
      </div>
      <p class="card-text">
        <small class="text-muted">Posted on {{post.date|date}}</small>
      </p>
    </div>
    <div class="card-footer">
      <div class="mt-4 mb-4" id="text">Total ratings: {{post.ratings.count}}
        {% for rating in ratings%}

        {% if forloop.counter is ratings.count %}
        <span id="designp" class="border border-success p-3 mb-2 ml-1 text-success" > Design: {{rating.design}}</span>
        <span id="usep" class="border border-warning p-3 mb-2 text-warning" style="padding-left:6px;"> Usability:
          {{rating.usability}}</span>
        <span id="contentp" class="border border-info p-3 mb-2 text-info" style="padding-left:6px;padding-right:36px;"> Content:
          {{rating.content}}</span>
        </div>


      <p id="rotate" class="mt-3 p-2 bg-info text-white"
      style="font-size:28px; width:8rem;"> Score: {{rating.score}}</p>

      {% endif %}

      {% endfor %}


      <!-- form -->
      <form method="post" enctype="multipart/form-data" action="{%url 'rate_post' pk=post.id%}">
        {% csrf_token %}
        {{form|crispy}}
        <input id="ratep" class="btn btn-primary bg-info" type="submit" value="Rate">
      </form>
    </div>
  </div>

</div>

{%endblock%}
